.word {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: #ffb651;
  transition: 350ms ease-in-out;

  &:hover {
    text-shadow: none;
    color: #f8ad46;
  }

  .wordButton {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 0px 5px #000000;
    animation: bop 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards alternate;
    padding: 2.5rem;
  }
}

@keyframes bop {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
