.word {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: var(--color-primary);
  transition: 350ms ease-in-out;

  &:hover {
    text-shadow: none;
    color: var(--color-primary-hover);
  }

  .wordButton {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 0px 5px var(--color-text-shadow);
    animation: bop 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards alternate;
    padding: clamp(1rem, 5vw, 2.5rem);
  }
}

@keyframes bop {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
