html,
body {
  overflow: hidden;
}

body {
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  background-color: #041c32;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  position: relative;
}

.app {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(1rem + 2vmin);
}

.language-button-wrapper {
  position: absolute;
  left: 20px;
  top: 20px;
}

.counter {
  color: white;
}
