html, body {
  overflow: hidden;
  height: -webkit-fill-available;
}

body {
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  max-height: 100vh;
  background-color: #041C32;
  height: 100vh;
  height: -webkit-fill-available;
}

button {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 65rem;
  margin: 0 auto;
}

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ECB365;
  height: 40vmin;
  position: relative;
}

.word {
  text-transform: uppercase;
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-shadow: 8px 6px 8px #000000;
}

.language-button {
  position: absolute;
    left: 20px;
    top: 20px;
}

svg {
  width: 20px;
  height: 20px;
}

footer {
  background-color: #064663;
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  padding: 10px;
}