@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
